body {
    margin: 0;
    font-family: Arial;
    background: #FFFACD;
    color: #FF4500;
}
h1, h2 {
    font-family: Wind;
    color: #FFFF00;
}
a {
    color: #00BFFF;
}
section {
    padding: 3rem;
}